* {
    padding: 0;
    margin: 0;
}

.background {
    background-image: linear-gradient(45deg, black, blue);
    height: 100vh;
    color: white;

    font-family: 'Times New Roman', Times, serif;
}

.calculator {
    position: absolute;
    background-color: black;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.button {
    color: white;
    background-color: #363636;

    font-size: 30px;
    width: 60px;
    height: 60px;

    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: black;
}

#result {
    width: 250px;
    height: 50px;
    font-size: 40px;
    background-color: white;
    color: black;
    overflow: hidden;
    text-overflow: clip;

    text-align: right;
}

img {
    width: 40px;
    height: 40px;
    color: white;
}



